<a href="https://colab.research.google.com/github/rpranav07/Learning_AI/blob/main/Notes/Python/Python_02_(operators%2Cif_else%2Cloops).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [ ]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)

print(5%2)

print(5**2)

11
-1
30
2.5
2
1
25

In [ ]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

In [ ]:
# Logical Operators
print(1 and 0)

print(1 or 0)

print(not 0)

print(not 1)

0
1
True
False

In [ ]:
# Bitwise Operators

# bitwise and   #Performs a bitwise AND operation between the binary representations of two numbers
print(2 & 3)

# bitwise or   #Performs a bitwise OR operation between the binary representations of two numbers
print(2 | 3)

# bitwise xor (XOR :- Both same then 0 both different then 1)
print(2 ^ 3)

#bitwise not (it inverts all the bits of its operand. In other words, every 0 bit becomes 1, and every 1 bit becomes 0.)
print(~3)

#bitwise right operator  #
print(8 >> 2)

#bitwise left operator
print(5 << 2)
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor (XOR :- Both same then 0 both different then 1)
print(2 ^ 3)

#bitwise not (it inverts all the bits of its operand. In other words, every 0 bit becomes 1, and every 1 bit becomes 0.)
# Binary representation of 3: 00000011
# Inverting the bits: 11111100 (this is -4 in two's complement representation).
print(~3)

#bitwise right operator   #hifts the bits of the number to the right by the specified number of places. The leftmost bits are filled with the sign bit (0 for positive, 1 for negative).
# Example: 8 >> 2
# Binary representation of 8: 00001000
# Shifting two places to the right: 00000010 (binary) = 2 (decimal)
print(8 >> 2)

#bitwise left operator   #Shifts the bits of the number to the left by the specified number of places. The rightmost bits are filled with zeros.
# Example: 5 << 2
# Binary representation of 5: 00000101
# Shifting two places to the left: 00010100 (binary) = 20 (decimal)
print(5 << 2)

2
3
1
-4
2
20

In [ ]:
# Assignment Operators
a = 2

# a = a % 2
a %= 2

# a++ ++a

print(a)

0

In [ ]:
# Membership Operators

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

False
False

In [1]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number  '))

# 345%1 -> 5
a = number%10

number = number//10

# 34%10 -> 4
b = number % 10

number = number//10
# 3 % 10 -> 3
c = number % 10

print(a + b + c)

Enter a 3 digit number  759
21

# If-else in Python

In [ ]:
# login program and indentation
# email -> nitish.campusx@gmail.com
# password -> 1234

email = input('enter email ')
password = input('enter password ')

if email == 'nitish.campusx@gmail.com' and password == '1234':
  print('Welcome')
elif email == 'nitish.campusx@gmail.com' and password != '1234':
  # tell the user
  print('Incorrect password')
  password = input('Incorrect Password ,enter password again ')
  if password == '1234':
    print('Welcome,finally!')
  else:
    print('beta tumse na ho paayega!')
else:
  print('Not correct')

enter email nitish.campusx@gmail.com
enter password 1245
Incorrect password
Incorrect Password ,enter password again 1234
Welcome,finally!

In [ ]:
# if-else examples
# 1. Find the min of 3 given numbers
# 2. Menu Driven Program

In [ ]:
# min of 3 number

a = int(input('first num '))
b = int(input('second num '))
c = int(input('third num '))

if a<b and a<c:
  print('smallest is',a)
elif b<c:
  print('smallest is',b)
else:
  print('smallest is',c)

first num 12
second num 54
third num 56
smallest is 12

# Modules in Python

- math
- keywords
- random
- datetime

In [ ]:
#math
import math
print(math.sqrt(16))
print(math.floor(2.9))
print(math.ceil(2.1))
print(math.pi)

4.0
2
3
3.141592653589793

In [5]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random
import random
print(random.randint(1,100))
random.random()

20

0.7398935929853222

In [6]:
# datetime
import datetime
print(datetime.datetime.now())
print(datetime.datetime.now())

2024-11-19 07:53:43.973310
2024-11-19 07:53:43.975033

In [12]:
# help('modules')

# Loops in Python

- Need for loops
- While Loop
- For Loop

In [ ]:
# While loop example -> program to print the table
# Program -> Sum of all digits of a given number
# Program -> keep accepting numbers from users till he/she enters a 0 and then find the avg

In [ ]:
#program to print the table
number = int(input('enter the number '))

i = 1

while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number22
22 * 1 = 22
22 * 2 = 44
22 * 3 = 66
22 * 4 = 88
22 * 5 = 110
22 * 6 = 132
22 * 7 = 154
22 * 8 = 176
22 * 9 = 198
22 * 10 = 220

In [ ]:
#Program -> Sum of all digits of a given number
n=int(input())
sum=0
while n>0:
  sum=sum+(n%10)
  n=n//10
print(sum)

In [30]:
# Program -> keep accepting numbers from users till he/she enters a 0 and then find the avg
n=int(input())

sum=n
i=1
while n!=0:
  n=int(input())
  sum=sum+n
  i=i+1
print(sum/(i-1))

4
4
4
4
0
4.0

In [17]:
# while loop with else

x = 1

while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

In [14]:
#Guessing game
import random
jackpot=random.randint(1,100)
guess=int(input("Guess the jackpot "))
attempt=1

while guess!=jackpot:
  if guess>jackpot:
    print("Guess  lower")
  else:
    print("Guess Higher")
  guess=int(input("Guess the jackpot "))
  attempt+=1

print("right guess in attempt ",attempt )

Guess the jackpot 80
Guess  lower
Guess the jackpot 60
Guess  lower
Guess the jackpot 40
Guess Higher
Guess the jackpot 50
Guess Higher
Guess the jackpot 55
Guess Higher
Guess the jackpot 57
Guess  lower
Guess the jackpot 56
right guess in attempt  7

In [ ]:
# Guessing game

# generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input('guess karo'))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('galat!guess higher')
  else:
    print('galat!guess lower')

  guess = int(input('guess karo'))
  counter += 1


print('correct guess')
print('attempts',counter)

guess karo55
galat!guess higher
guess karo85
galat!guess lower
guess karo75
galat!guess lower
guess karo65
galat!guess higher
guess karo67
correct guess
attempts 5

In [15]:
# For loop demo

for i in {1,2,3,4,5}:
  print(i)
for i in 77,78,79,80:
  print(i)
for i in range(10,0,-2):
  print(i*5)

1
2
3
4
5
77
78
79
80
50
40
30
20
10

In [16]:
# For loop examples
for i in "Delhi":
  print(i)

D
e
l
h
i